@import "tailwindcss";

@font-face {
  font-family: "Bahnschrift";
  src: url("../assets/fonts/Banschrift/BAHNSCHRIFT 3.TTF") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("../assets/fonts/Banschrift/BAHNSCHRIFT 4.TTF") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@theme {
  --font-bahnschrift: "Bahnschrift", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-surface: #ffffff;
  --color-background: #f5f5f5;
  --color-outline: #00000015;
  --color-disabled: #a7a7a7;

  /* --color-primary: #d71920; */
  /* --color-secondary: #0e3178; */
  /* --color-tertiary: #00984a; */

  /* --text-primary: #333333; */
  /* --text-secondary: #606060; */

  --color-white: #ffffff;
  --color-black: #000000;
  /* --color-primary: #d71920; */
  /* login button */
  --color-secondary: #d71920;
  --color-link: #00984a;
  --color-loan: #dee2fe;
  --color-body: #f5f5f5;
  --background-image-currency: linear-gradient(
    108.73deg,
    #f0f2fb 29.33%,
    #effbf5 94.67%
  );
  --color-footer: #0e3178;

  /* text color */
  --color-nav: #333333;
  --color-en: #0e3178bf;
  --color-primary: #444444;
  --color-update: #606060;
}

@layer components {
  
  .nav {
    @apply flex bg-white justify-between items-center px-4 lg:px-8 py-3 lg:py-5;
  }

  .nav-list {
    @apply hidden md:flex items-center font-bahnschrift font-light text-sm lg:text-lg text-nav gap-4 lg:gap-8;
  }

  .nav-list.active {
    @apply flex flex-col absolute top-[60px] left-0 w-full bg-white p-5 shadow-md z-50;
  }

  .en {
    @apply font-bahnschrift font-normal text-base text-en;
  }

  .mm {
    @apply font-poppins font-normal text-[13px] text-primary;
  }

  .login-button {
    @apply w-20 lg:w-33 bg-secondary font-poppins font-medium text-[15px] text-white rounded-sm px-4 py-2 hover:bg-[#c2171d] transition-colors;
  }

  .card-left {
    @apply bg-background rounded-lg shadow-sm p-4 flex flex-col sm:flex-row gap-6 hover:shadow-md transition-shadow;
  }

  .card-right {
    @apply bg-background rounded-lg shadow-sm p-4 flex flex-col hover:shadow-md transition-shadow;
  }

  .card-img {
    @apply w-full h-48 md:w-80 md:h-48 object-cover;
  }

  .card-content {
    @apply flex flex-col gap-5;
  }

  .card-heading {
    @apply font-poppins font-medium text-xl text-black;
  }

  .card-list {
    @apply flex items-center gap-3;
  }

  .card-list-check {
    @apply w-5 h-5 mt-0.5 shrink-0;
  }
  .card-list-text {
    @apply font-poppins font-normal text-[13px] text-primary leading-tight;
  }

  .card-link {
    @apply flex items-center font-poppins font-normal text-[15px] text-link hover:underline;
  }

  .update-on {
    @apply font-normal text-[13px] text-update;
  }

  .update-time {
    @apply font-medium text-[14px] md:text-[15px] text-primary;
  }

  .country-icon {
    @apply w-8 h-8 md:w-10 md:h-10;
  }

  .inform {
    @apply bg-white p-4 rounded-2xl flex flex-col  gap-4 items-center justify-center text-center shadow-sm hover:shadow-md hover:bg-[#0E31780D] transition-all h-full;
  }

  .inform-text {
    @apply font-poppins font-normal text-[15px] text-primary leading-tight;
  }

  .footer-heading {
    @apply text-lg font-medium mb-5;
  }

  .footer-content {
    @apply space-y-2 text-sm lg:text-[15px] font-normal;
  }

  .footer-contact {
    @apply flex items-start gap-3;
  }

  .footer-list {
    @apply text-white hover:opacity-50 cursor-pointer transition;
  }

  .social-link {
    @apply w-12 h-12 rounded-full flex items-center justify-center border border-white hover:bg-white;
  }

}
